@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* NAVIGATION FILE DESIGN */

.nav-link-luxury {
  color: gainsboro;
  font-weight: bold;
}

.nav-link-luxury:hover {
  color: rgb(164, 160, 160);
  /* text-decoration: underline;   */
}

.nav-link-luxury:focus {
  color: #ffd700;
}

/* ROOMCARDS FILE DESIGN */

.card {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
